:root {
  --ifm-color-primary: #76aff7;
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-code-font-size: 95%;
  --ifm-navbar-link-hover-color: #76aff7;
  --ifm-navbar-background-color: #303846;
  --ifm-navbar-link-color: #fff;
  --ifm-font-family-base: 'Roboto', sans-serif;
  --ifm-footer-link-hover-color: #76aff7;
  --ifm-menu-color-active: #76aff7;
}
